@import "mocha.css";

* {
	font-family: JetBrainsMono Nerd Font;
	font-size: 15px;
	font-weight: 600;
	padding: 0 10px;
	border-radius: 5px;

}


window#waybar {
	background-color: transparent;
	color: @text;
	border-radius: 10px;
}


#workspaces button {
	background-color: @base;
	color: @text;
	padding: 0 0px;
}


#workspaces button.active, #workspaces button.focused {
	background-color: @lavender;
	color: @base;
}


#window {
	background-color: @base;
	color: @text;
}


#cpu {
	background-color: @base;
	color: @blue;
}


#memory {
	background-color: @base;
	color: @peach;
}


#clock {
	background-color: @base;
	color: @maroon;
}


#network {
	background-color: @base;
	color: @green;
}

#tray {
	background-color: @base;
	color: @text;
}


#pulseaudio {
	background-color: @base;
	color: @pink;
}


#mpris {
	background-color: @base;
	color: @green;
}













